name: Actions Workflow

on:
    schedule:
        - cron: "0/5 * * * *"
        - cron: "0/6 * * * *"
    # push:
    pull_request:
        types:
            - closed
            - assigned
            - opened
            - reopened

jobs:
    run-github-actions:
        runs-on: ubuntu-latest
        steps:
            - name: List Files
              run: |
                pwd
                ls -a

            - name: Checkout
              uses: actions/checkout@v1

            - name: List Files after checkout
              run: |
                pwd
                ls -a

            - name: Simple JS Action
              id: greet
              uses: actions/hello-world-javascript-action@v1
              with:
                who-to-greet: Tomas the First

            - name: Log Greeting
              run: echo "${{ steps.greet.outputs.time }}"
