name: ENV Variables

on: push

env:
    WF_ENV: Available to all jobs

jobs:
    log-env:
        runs-on: ubuntu-latest
        env:
            JOB_ENV: Available only to all steps on log-env job
        steps:
            - name: Log ENV variables
              env:
                STEP_ENV: Available to only this step
              run: |
                echo "WF_ENV: ${WF_ENV}"
                echo "JOB_ENV: ${JOB_ENV}"
                echo "STEP_ENV: ${STEP_ENV}"

            - name: Log ENV 2
              run: |
                echo "WF_ENV: ${WF_ENV}"
                echo "JOB_ENV: ${JOB_ENV}"
                echo "STEP_ENV: ${STEP_ENV}"

    log-default-env:
        runs-on: ubuntu-latest
        steps:
            - name: Default ENV Variables
              run: |
                echo "Home: ${HOME}"
                echo "GITHUB_WORKFLOW: ${GITHUB_WORKFLOW}"
                echo "GITHUB_ACTIONS: ${GITHUB_ACTIONS}"
                echo "GITHUB_SHA: ${GITHUB_SHA}"
                echo "GITHUB_REF: ${GITHUB_REF}"
                echo "GITHUB_REPOSITORY: ${GITHUB_REPOSITORY}"
                echo "GITHUB_ACTOR: ${GITHUB_ACTOR}"
                echo "GITHUB_EVENT_NAME: ${GITHUB_EVENT_NAME}"
                echo "WF_ENV: ${WF_ENV}"
                echo "JOB_ENV: ${JOB_ENV}"
                echo "STEP_ENV: ${STEP_ENV}"
